body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(
        rgba(255, 255, 255, 0.87),
        rgba(255, 255, 255, 0.90),
        rgba(255, 255, 255, 0.76),  
        rgba(255, 255, 255, 0.17)),
        url(../img/bg.png);
    /* background-image: url(../img/bg.png); */
}
.header{
    padding: 50px 0;
}
.main__image{
    width: 100%;
    height: 100%;
}
.main_section h1{
    font-weight: 700;
    margin-bottom: 50px;
    font-weight: 48px;
}
.main_section ul{
    font-weight: 500;
    padding-left: 15px;
    margin-bottom: 35px;
}
.main_section a{
    font-weight: 600;
    color: #829198;
    text-decoration: none;
}
.social{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.social li{
    margin-right: 5px;
}
.main__appstore{
    margin-bottom: 10px;
}
.footer{
    padding: 25px 0;
}